@import '../../utils/variables.scss';

.card {    
    &-wrapper {
        border: 1px solid $BORDER_COLOR;
        width: $CARD_WIDTH;
        height: $CARD_WIDTH + 1;
        &:hover {            
            @include shadow;
        }
        a {
            text-decoration: none;
            color: $TEXT_COLOR;
        }
    }
    
    &-description {
        margin-left: 20px;
        h3 {
            margin: 20px 0 0 0;
            @include text-params(bold, 20px, 27px);
        }
        .address {
            margin: 3px 0 0 0;
            @include text-params(normal, 16px, 22px);
        }        
        .price {
            margin: 15px 0 0 0;
            @include text-params(normal, 16px, 22px);
        }
        .ownership {
            margin: 7px 0 0 0;
            @include text-params(normal, 14px, 19px);
        }
    }    

    &-preview {
        position: relative;
        height: 233px;
        img {
            height: inherit;
            width: $CARD_WIDTH;
            object-fit: 100%;
        }
    }

    &-label_independent, &-label_support {
        @include text-params(600, 12px, 16px);
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        padding: 8px 8px 5px 8px;
        color: #FFFFFF;
    }

    &-label_independent { background-color: $INDEPENDENT_COLOR }    
    &-label_support { background-color: $SUPPORT_COLOR }    

    @media screen and (max-width: 390px) {
        &-wrapper {
            width: 90%;
        }

        &-preview {
            position: relative;
            height: 233px;
            img {
                height: inherit;
                width: 100%;
                object-fit: 100%;
            }
        }
    }
}
