
@import './utils/variables.scss';

body {
    font-family: 'Open Sans', sans-serif;
}

.app {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        @include text-params(bold, 36px, 49px);
        text-align: center;
        color: #45852D;
    }

    @media screen and (max-width: $MOBILE_BREAKPOINT) {
        &__content-wrapper {
            width: 100%;
        }
    }
}